<h3 appHighlight> {{title}} </h3>
<p> Company : {{cInfo.name|uppercase}} !!!!</p>
<div appHighlight> Capital: {{cInfo.cabital|usdtoEgp:14}} </div>
<div> Date : {{cInfo.establishDate|date:'short'}} </div>
<img src="{{cInfo.logo}}">
<hr> using property Binding : search about value cInfo.logo
<img [src]="cInfo.logo">
<hr> search about path cInfo.logo
<img src="cInfo.logo">
<hr>
<button appHighlight class="btn btn-info" (click)="Toggle()"> Toggle </button>
<ul *ngIf="isServiceDisplayed">
    <li appHighlight *ngFor="let serv of cInfo.services">{{serv}}</li>

</ul>